<p>
  <strong>Profile Name:</strong>
  <%= @post.profilename %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @post.designation %>
</p>
<p>
  <strong>Department:</strong>
  <%= @post.department %>
</p>

<p>
  <strong>University:</strong>
  <%= @post.university %>
</p>